@tailwind base;
@tailwind components;
@tailwind utilities;


  /* overflow-y: hidden; */
* {
  margin: 0;
  padding: 0;
}

body {
  /* overflow-y: hidden; */
  margin: 0;
  background-color: white;
  overflow-x: hidden;
}

/* .slick-dots .slick-active div div {
  background-color: #015e44;
} */

.slick-dots ul li div div {
  background-color: #dfe9e6 !important;
}

.slick-dots ul .slick-active div div {
  background-color: #015e44 !important;
}
