@tailwind base;
@tailwind components;
@tailwind utilities;
@layer utilities {
      /* Hide scrollbar for Chrome, Safari and Opera */
      .no-scrollbar::-webkit-scrollbar {
          display: none;
      }
     /* Hide scrollbar for IE, Edge and Firefox */
      .no-scrollbar {
          -ms-overflow-style: none;  /* IE and Edge */
          scrollbar-width: none;  /* Firefox */
    }
  }
body {
  overflow-x: hidden;
  
}


.my-div {
 /* Hauteur de la div */
  background-image: url('../../../public/images/Frame.svg'); /* Chemin vers l'image de fond */
  background-size: cover; /* Ajuste l'image pour couvrir toute la div */
  background-position: center; /* Centre l'image dans la div */
  background-repeat: no-repeat; /* Évite la répétition de l'image */
}
.my-div2 {
 /* Hauteur de la div */
  background-image: url('../../../public/images/Frame 532.svg'); /* Chemin vers l'image de fond */
  background-size: contain; /* Ajuste l'image pour couvrir toute la div */
  background-position: right; /* Centre l'image dans la div */
  background-repeat: no-repeat; /* Évite la répétition de l'image */
}
.my-div3 {
 /* Hauteur de la div */
  background-image: url('../../../public/images/Frame 533.svg'); /* Chemin vers l'image de fond */
  background-size: contain; /* Ajuste l'image pour couvrir toute la div */
  background-position: center; /* Centre l'image dans la div */
  background-repeat: no-repeat; /* Évite la répétition de l'image */
}
.my-div4 {
 /* Hauteur de la div */
  background-image: url('../../../public/images/Frame 534.svg'); /* Chemin vers l'image de fond */
  background-size: contain; /* Ajuste l'image pour couvrir toute la div */
  background-position: center; /* Centre l'image dans la div */
  background-repeat: no-repeat; /* Évite la répétition de l'image */
}
.slick-dots .slick-active div div {
  background-color: #015e44;
}

@font-face {
  font-family: VisbyCF-Bold;
  src: url('../../../public/fonts/VisbleCF/VisbyCF-Bold.otf');
}

@font-face {
  font-family: VisbyCF-meduim;
  src: url('../../../public/fonts/VisbleCF/VisbyCF-Medium.otf');
}

@font-face {
  font-family: VisbyCF-Light;
  src: url('../../../public/fonts/VisbleCF/VisbyCF-Light.otf');
}

p {
  font-family: VisbyCF-light;
}

h1 {
  font-family: VisbyCF-Bold;
}

h2,
h3,
h4 {
  font-family: VisbyCF-meduim;
}

.backgroud-Image {
  background-image: url('/public/images/BG.svg');
  width: fit-content;
  height: fit-content;
}

.spin-button-none::-webkit-outer-spin-button,
.spin-button-none::-webkit-inner-spin-button {
  appearance: none;
}


.pdf-page-container {
    position: relative;
}

.pdf-page-container.page-3 {
    /* Appliquer un dégradé uniquement à la page 3 */
}

.pdf-page-container.page-3 .pdf-page {
    position: relative;
    z-index: 1;
}

.pdf-page-container.page-3 .gradient-overlay {
    position: absolute;
    top: 50%; /* Placer le dégradé au milieu de la page */
    left: 0;
    width: 100%;
    height: 50%; /* Définir la hauteur de la zone de dégradé */
    background: linear-gradient(to bottom, transparent, black); /* Dégradé de transparent à noir */
    z-index: 2; /* Placer le dégradé au-dessus de la page PDF */
}

.react-pdf__Page__canvas {
  width: 100% !important;
  max-width: 800px;
  margin:auto;
  
}

.slick-track {
  position: relative;
  top: 0;
  left: 0;
  display: block;
  margin-left: 0 !important;
  margin-right: 0 !important;
}

